PORT=3000
PLUX_API_URL=https://apipre.pagoplux.com/intv1/
PLUX_CLIENT_ID=your_client_id_here
PLUX_SECRET_KEY=your_secret_key_here
PLUX_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...your public key...\n-----END PUBLIC KEY-----"
